
// fireplace

.fireplace {
    width: 100%;
    &__title {
        font-weight: 250;
        font-size: 40px;
        line-height: 55px;
        text-align: center;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        background: linear-gradient(247.29deg, #FFFFFF 35.25%, rgba(255, 255, 255, 0) 104.81%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        & span {
            display: inline-block;
            width: 40px;
            height: 1px;
            background: #949494;
            margin: 0 40px;
        }
    }
    &__subTitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 33px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 10px;

    }

    @media (max-width:767px) {
        &__title span {
            margin: 0 15px;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 10px;
        }
        &__subTitle {
            font-size: 14px;
        }
    }
}
