// header
$text:white;

.header {
    max-width: 1340px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    padding-top: 80px;
    justify-content: space-between;
    align-items: center;
    .logo-body {
        display: flex;
        align-items: center;
        .logo {
            color: $text;
            font-size: 20px;
            text-transform: uppercase;
            text-decoration: none;
            margin-right: 40px;
        }
        .logo-sub-title {
            color: #6D6D6D;
            letter-spacing: 0.05em;
            font-size: 12px;
            line-height: 18px;

        }
    }
    .nav {
        display: flex;
        align-items: center;
        .link {
            color: #949494;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 16px;
            margin: 0 30px;
            text-decoration: none;
            &:hover {
                transition: 0.25s ease all;
                color: rgba(255, 207, 122, 1);
            }

        }
        .call {
            display: block;
            width: 50px;
            height: 50px;
            background: url("../images/call.png")no-repeat;
            background-size: cover;
        }

        
    }

    &__burger {
        display: none;
        background: url("../images/burger.png")no-repeat;
        width: 30px;
        height: 30px;
        &.active {
            background: url("../images/close.png")no-repeat;

        }
    }
}


@media (max-width:1350px) {
        
}

@media (max-width:992px) {

}

@media(max-width:767px)  {
    .header {
        .nav {
            display: none;
        }
        
        &__burger {
            display: block;
        }
    }
  
}