@import url('https://fonts.cdnfonts.com/css/lab-grotesque');
// styles links

// variables
$text:white;
// styles base
body {
    font-family: 'Lab Grotesque', sans-serif;
    margin: 0;
    padding: 0;
    background: #1d1d1c;;
    overflow-x: hidden;
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    & img {
        max-width: 100%;
    }
}
.container {
    max-width: 1340px;
    padding: 0 20px;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    // @media (max-width:1200px) {
    //     width: 992px;
    // }
    // @media (max-width:992px) {
    //     width: 767px;
    // }
    // @media (max-width:767px) {
    //     width: 576px;
    // }
    @media (max-width:1200px) {
        width: 90%;
    }
}



.menu {
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: none;
    position: fixed;
    transition: 0.25s ease all;

    &.active-menu {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        overflow-x: hidden;
        z-index: 100;
        background-color: black;
        color: white;
        overflow-y: hidden;
        transition: 0.25s ease all;


    }

    &__close {
        background: url("../images/close.png")no-repeat;
        background-size: cover;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 101;
    }
}


.nav__menu {
    transition: 0.25s ease all;
    width: 100%;
    display: flex;
    overflow-y: hidden;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & a {
        color: #949494;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 16px;
        margin: 50px 30px;
        text-decoration: none;
        &:hover {
            transition: 0.25s ease all;
            color: rgba(255, 207, 122, 1);
        }
    }
}

// swipe global
.swiper {
    &-button-prev-1 {
        position: absolute;
        top: 80%;
        left: 5%;
        z-index: 100;
        &::after, .swiper-container-rtl .swiper-button-prev::after {
            color: #FFCF7A;
            font-size: 25px;
            font-weight: 700;
        }
    }
    &-button-next-1 {
        position: absolute;
        top: 80%;

        left: 12%;
        z-index: 100;
&::after, .swiper-container-rtl .swiper-button-prev::after {
            color: #FFCF7A;
            font-size: 25px;
            font-weight: 700;
        }
    }

}

.info-bottom-swiper {
    width: 100% !important;
}
.mr-2{
    margin-right: 2%;
}



@import './header.scss';
@import './intro.scss';
@import './fire.scss';
@import './refill.scss';
@import './fireplace.scss';
@import './info.scss';
@import './catalog.scss';
@import './catalog.scss';
@import './contact.scss';
@import './footer.scss';
@import './order.scss';
@import './slider.scss';
