@import url("https://fonts.cdnfonts.com/css/lab-grotesque");
body {
  font-family: "Lab Grotesque", sans-serif;
  margin: 0;
  padding: 0;
  background: #1d1d1c;
  overflow-x: hidden;
}
body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body img {
  max-width: 100%;
}

.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

.menu {
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: none;
  position: fixed;
}
.menu.active-menu {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  z-index: 100;
  background-color: black;
  color: white;
}
.menu__close {
  background: url("../images/close.png") no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 101;
}

.nav__menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menu a {
  color: #949494;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  margin: 50px 30px;
  text-decoration: none;
}
.nav__menu a:hover {
  transition: 0.25s ease all;
  color: rgb(255, 207, 122);
}

.swiper-button-prev-1 {
  position: absolute;
  top: 80%;
  left: 5%;
  z-index: 100;
}
.swiper-button-prev-1::after, .swiper-button-prev-1 .swiper-container-rtl .swiper-button-prev::after {
  color: #FFCF7A;
  font-size: 25px;
  font-weight: 700;
}
.swiper-button-next-1 {
  position: absolute;
  top: 80%;
  left: 12%;
  z-index: 100;
}
.swiper-button-next-1::after, .swiper-button-next-1 .swiper-container-rtl .swiper-button-prev::after {
  color: #FFCF7A;
  font-size: 25px;
  font-weight: 700;
}

.info-bottom-swiper {
  width: 100% !important;
}

.mr-2 {
  margin-right: 2%;
}

.header {
  max-width: 1340px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  padding-top: 80px;
  justify-content: space-between;
  align-items: center;
}
.header .logo-body {
  display: flex;
  align-items: center;
}
.header .logo-body .logo {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 40px;
}
.header .logo-body .logo-sub-title {
  color: #6D6D6D;
  letter-spacing: 0.05em;
  font-size: 12px;
  line-height: 18px;
}
.header .nav {
  display: flex;
  align-items: center;
}
.header .nav .link {
  color: #949494;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  margin: 0 30px;
  text-decoration: none;
}
.header .nav .link:hover {
  transition: 0.25s ease all;
  color: rgb(255, 207, 122);
}
.header .nav .call {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../images/call.png") no-repeat;
  background-size: cover;
}
.header__burger {
  display: none;
  background: url("../images/burger.png") no-repeat;
  width: 30px;
  height: 30px;
}
.header__burger.active {
  background: url("../images/close.png") no-repeat;
}

@media (max-width: 767px) {
  .header .nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
.intro {
  width: 100%;
  margin: 70px 0 200px 0;
  display: flex;
  align-items: center;
}
.intro__items {
  margin-top: 85px;
  display: flex;
}
.intro__items div:first-child {
  margin-right: 40px;
}
.intro__items-item {
  text-align: center;
}
.intro__items-item h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.intro__items-item-img {
  margin-bottom: 15px;
}
.intro__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.intro__text {
  width: 45%;
}
.intro__text-title {
  font-weight: 250;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(226.43deg, #FFFFFF 49.37%, rgba(255, 255, 255, 0) 99.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}
.intro__text-subTitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #FFCF7A;
}
.intro__text-subTitle span {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 85px;
}
.intro__text__img {
  width: 50%;
}
@media (max-width: 1350px) {
  .intro__img {
    width: 50%;
  }
  .intro__text-title {
    font-size: 40px;
  }
}
@media (max-width: 1200px) {
  .intro__text-title {
    font-size: 45px;
  }
}
@media (max-width: 992px) {
  .intro {
    margin: 20% 0;
  }
  .intro__text {
    width: 100%;
  }
  .intro__img {
    width: 60%;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .intro__text-title {
    font-size: 40px;
  }
}

.fire {
  width: 100%;
  overflow-y: hidden;
}
.fire__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(240.22deg, #FFFFFF 31.8%, rgba(255, 255, 255, 0) 87.73%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.fire__descr {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: 20px;
}
.fire__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.fire__info-item {
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
}
.fire__info-item p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
.fire__info-item img {
  margin-right: 35px;
}
@media (max-width: 992px) {
  .fire__info-item {
    width: 50%;
    margin-bottom: 50px;
  }
  .fire__info__title {
    font-size: 35px;
  }
  .fire__info__descr {
    font-size: 18px;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .fire__info-item {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .fire__info__img {
    margin-bottom: 30px;
  }
  .fire__info__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .fire__info__descr {
    font-size: 14px;
  }
}

.refill {
  width: 100%;
  position: relative;
  margin: 100px 0;
}
.refill__content {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.refill__info {
  width: 50%;
}
.refill__info-title {
  font-style: normal;
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(233.62deg, #FFFFFF 28.79%, rgba(255, 255, 255, 0) 98.2%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 20px;
}
.refill__info-subTitle {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 33px;
  color: #FFFFFF;
  margin-bottom: 25px;
  width: 60%;
}
@media (max-width: 992px) {
  .refill__info-title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .refill__info-title {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  .refill__info-subTitle {
    width: 100%;
  }
}
.refill__img {
  width: 50%;
  position: relative;
}
.refill__img img {
  max-width: 100%;
}
.refill__button {
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.refill__button-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.refill__button-wrapper span {
  width: 40px;
  height: 1px;
  margin: 0 25px;
  background: #FFCF7A;
}
.refill__button-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 992px) {
  .refill__info {
    width: 100%;
  }
  .refill__img {
    width: 100%;
  }
  .refill__img img {
    max-width: 100%;
  }
}

.fireplace {
  width: 100%;
}
.fireplace__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(247.29deg, #FFFFFF 35.25%, rgba(255, 255, 255, 0) 104.81%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fireplace__title span {
  display: inline-block;
  width: 40px;
  height: 1px;
  background: #949494;
  margin: 0 40px;
}
.fireplace__subTitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .fireplace__title {
    font-size: 35px;
  }
  .fireplace__subTitle {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .fireplace__title span {
    margin: 0 15px;
  }
  .fireplace__title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .fireplace__subTitle {
    font-size: 14px;
  }
}

.info {
  width: 100%;
  margin: 40px 0;
}
.info__up {
  display: flex;
  flex-wrap: wrap;
}
.info__up-img {
  width: 50%;
}
.info__up-text {
  width: 50%;
}
.info__up-img-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .info__up-img {
    width: 100%;
    margin-bottom: 50px;
  }
  .info__up-text {
    width: 100%;
  }
}
.info__up-text {
  color: white;
}
.info__up-text-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.info__up-text-subTitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
}
.info__middle {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.info__middle-text {
  width: 50%;
}
.info__middle-text-title {
  font-size: 24px;
  margin-bottom: 25px;
  color: rgb(117, 117, 117);
}
.info__middle-text-up {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.info__middle-text-up-items {
  display: flex;
}
.info__middle-text-up-items div:first-child {
  margin-right: 95px;
}
.info__middle-text-up-items-item p {
  font-size: 14px;
  line-height: 27px;
  color: white;
}
.info__middle-text-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.info__middle-text-bottom-itemsWrapper {
  display: flex;
}
.info__middle-text-bottom-itemsWrapper div:first-child {
  margin-right: 95px;
}
.info__middle-text-bottom-itemsWrapper-item {
  width: 100%;
}
.info__middle-text-bottom-itemsWrapper-item p {
  font-size: 14px;
  line-height: 27px;
  color: white;
}
@media (max-width: 992px) {
  .info__middle-text-bottom-itemsWrapper-item {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .info__middle-text-bottom-itemsWrapper {
    flex-wrap: wrap;
  }
  .info__middle-text-bottom-itemsWrapper-item {
    margin-bottom: 30px;
  }
}
.info__middle-slider {
  width: 50%;
}
@media (max-width: 767px) {
  .info__middle-text {
    width: 80%;
    margin-bottom: 50px;
  }
  .info__middle-slider {
    width: 100%;
  }
}
.info__bottom {
  display: flex;
  flex-wrap: wrap;
  margin: 70px 0;
}
.info__bottom-item {
  width: 48%;
}
.info__bottom-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.info__bottom-item-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.info-middle-swiper {
  width: 100%;
}

.catalog {
  text-align: center;
  margin: 100px 0;
}
.catalog__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.catalog__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #121212;
  padding: 16px 64px;
  background: #ECCF94;
  border-radius: 1px;
  text-decoration: none;
}

.catalog {
  text-align: center;
  margin: 100px 0;
}
.catalog__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.catalog__btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #121212;
  padding: 16px 64px;
  background: #ECCF94;
  border-radius: 1px;
  text-decoration: none;
}

.contact {
  width: 100%;
  background: #121212;
  padding: 65px 0;
}
.contact__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(231.91deg, #FFFFFF 37.36%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.contact .contact__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}
.contact .contact__wrapper-info {
  margin-top: 70px;
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}
.contact .contact__wrapper-info-item {
  width: 50%;
  margin-bottom: 25px;
}
.contact .contact__wrapper-info-item p {
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: #949494;
}
.contact .contact__wrapper-info-item a {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 36px;
  color: #FFFFFF;
}
.contact .contact__wrapper-info-item a:hover {
  transition: 0.25s ease all;
  color: rgb(255, 207, 122);
}
@media (max-width: 576px) {
  .contact .contact__wrapper-info-item {
    width: 100%;
  }
}
.contact .contact__wrapper-phone {
  width: 30%;
  margin-top: 70px;
}
.contact .contact__wrapper-phone-text p {
  font-weight: 300;
  font-size: 14px;
  line-height: 36px;
  color: #949494;
  margin-bottom: 12px;
}
.contact .contact__wrapper-phone-text a {
  font-weight: 250;
  font-size: 36px;
  line-height: 33px;
  color: #FFFFFF;
  text-decoration: none;
}
.contact .contact__wrapper-phone-text a:hover {
  transition: 0.25s ease all;
  color: rgb(255, 207, 122);
}
.contact .contact__wrapper-phone-btn {
  margin-top: 60px;
}
.contact .contact__wrapper-phone-btn a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 30px;
  border: 1px solid #CEB787;
  border-radius: 2px;
}
.contact .contact__wrapper-phone-btn a:hover {
  color: black;
  transition: 0.25s ease all;
  background: rgb(255, 207, 122);
}
@media (max-width: 992px) {
  .contact .contact__wrapper-info {
    width: 50%;
  }
  .contact .contact__wrapper-phone {
    width: 40%;
  }
}
@media (max-width: 767px) {
  .contact .contact__wrapper-info {
    width: 100%;
  }
  .contact .contact__wrapper-phone {
    width: 100%;
    margin-top: 30px;
  }
}

.footer {
  width: 100%;
  padding: 40px 0;
  background: #121212;
  border-top: 1px solid #232323;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper-left {
  display: flex;
  align-items: center;
}
.footer__wrapper-left a {
  font-weight: 400;
  font-size: 14px;
  line-height: 70px;
  letter-spacing: 0.105em;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 110px;
}
.footer__wrapper-left p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #6D6D6D;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .footer__wrapper-left {
    flex-wrap: wrap;
  }
  .footer__wrapper-left p:last-child {
    margin-bottom: 20px;
  }
}
.footer__wrapper-right p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.05em;
  color: #6D6D6D;
}
@media (max-width: 992px) {
  .footer__wrapper {
    width: 100%;
    flex-wrap: wrap;
  }
}

.order {
  width: 100%;
  margin: 100px 0;
}
.order__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(235.41deg, #FFFFFF 28.47%, rgba(255, 255, 255, 0.18) 91.88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.order__content {
  margin: 65px 0;
  display: flex;
  width: 100%;
}
.order__content-img {
  width: 50%;
}
.order__content-blog {
  width: 50%;
}
.order__content-blog-functions h2 {
  font-weight: 500;
  font-size: 10px;
  line-height: 55px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.order__content-blog-functions-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.order__content-blog-functions-wrapper-items {
  width: 45%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
}
.order__content-blog-functions-wrapper-items-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__content-blog-functions-wrapper-items-item p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}
.order__content-blog-panel h2 {
  font-weight: 500;
  font-size: 10px;
  line-height: 55px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.order__content-blog-lengh-title {
  font-weight: 500;
  font-size: 10px;
  line-height: 55px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.order__content-blog-lengh-range {
  display: flex;
  align-items: center;
}
.order__content-blog-lengh-range h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 55px;
  color: #FFFFFF;
}
.order__content-blog-lengh-range input {
  background: #1d1d1c;
}
.order__content-blog-lengh-range input[type=range] {
  height: 2px;
  -webkit-appearance: none;
  margin: 10px 20px;
  width: 50%;
}
.order__content-blog-lengh-range input[type=range]:focus {
  outline: none;
}
.order__content-blog-lengh-range input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #A6A6A6;
  background: #FFCF7A;
  border-radius: 4px;
  border: 2px solid #FFCF7A;
}
.order__content-blog-lengh-range input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 2px #A6A6A6;
  border: 2px solid #FFCF7A;
  height: 25px;
  width: 25px;
  border-radius: 0px;
  background: #FFCF7A;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -11px;
}
.order__content-blog-lengh-range input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFCF7A;
}
.order__content-blog-lengh-range input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 2px #A6A6A6;
  background: #FFCF7A;
  border-radius: 4px;
  border: 2px solid #FFCF7A;
}
.order__content-blog-lengh-range input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 2px #A6A6A6;
  border: 2px solid #FFCF7A;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: #FFCF7A;
  cursor: pointer;
}
.order__content-blog-lengh-range input[type=range]::-ms-track {
  width: 100%;
  height: 12px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.order__content-blog-lengh-range input[type=range]::-ms-fill-lower {
  background: #FFCF7A;
  border: 2px solid #FFCF7A;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #A6A6A6;
}
.order__content-blog-lengh-range input[type=range]::-ms-fill-upper {
  background: #FFCF7A;
  border: 2px solid #FFCF7A;
  border-radius: 8px;
  box-shadow: 1px 1px 2px #A6A6A6;
}
.order__content-blog-lengh-range input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 2px #A6A6A6;
  border: 2px solid #FFCF7A;
  height: 30px;
  width: 30px;
  border-radius: 0px;
  background: #FFCF7A;
  cursor: pointer;
}
.order__content-blog-lengh-range input[type=range]:focus::-ms-fill-lower {
  background: #FFCF7A;
}
.order__content-blog-lengh-range input[type=range]:focus::-ms-fill-upper {
  background: #FFCF7A;
}
@media (max-width: 1200px) {
  .order__content-img {
    width: 40%;
    margin-right: 5%;
  }
  .order__content-blog {
    width: 55%;
  }
}
@media (max-width: 992px) {
  .order__content {
    flex-wrap: wrap;
  }
  .order__content-img {
    width: 100%;
  }
  .order__content-blog {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .order__content {
    flex-wrap: wrap;
  }
  .order__content-img {
    width: 100%;
  }
  .order__content-blog {
    width: 100%;
  }
}
.order__additional {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.order__additional span {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 55px;
  letter-spacing: 0.135em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}
.order__additional-lenght {
  width: 25%;
}
.order__additional-lenght h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 55px;
  color: #FFFFFF;
}
.order__additional-panel {
  width: 25%;
  display: flex;
  flex-direction: column;
}
.order__additional-panel-cirle {
  background: #B8542A;
  border-radius: 500px;
  width: 28px;
  height: 28px;
  display: inline-block;
}
.order__additional-price {
  width: 25%;
}
.order__additional-price h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #FFCF7A;
}
.order__additional-btn {
  width: 25%;
}
.order__additional-btn a {
  background: #ECCF94;
  border-radius: 1px;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #121212;
  text-decoration: none;
  padding: 15px 56px;
}
@media (max-width: 1200px) {
  .order__additional div {
    margin-bottom: 50px;
  }
  .order__additional-lengh {
    width: 50%;
  }
  .order__additional-panel {
    width: 50%;
  }
  .order__additional-price {
    width: 50%;
  }
  .order__additional-btn {
    width: 50%;
  }
}
@media (max-width: 620px) {
  .order__additional-btn {
    width: 100%;
  }
}

.checkbox {
  display: flex;
  gap: 20px;
}
.checkbox__wrap {
  margin-right: 10%;
}
.checkbox__wrap-block1 {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.checkbox__wrap-block1 p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
}
.checkbox__wrap-block1 input {
  display: none;
}
.checkbox__wrap-block1 label {
  width: 20px !important;
  height: 20px !important;
  margin-left: 50px;
  border-radius: 2px;
  border: 1px solid #eccf94;
  position: relative;
}
.checkbox__wrap-block1 label::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 8px;
  background: #191919;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.checkbox__wrap-block1 label:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background: #191919;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.checkbox__wrap-block1 input:checked + label {
  background: #eccf94;
}
@media (max-width: 767px) {
  .checkbox {
    flex-wrap: wrap;
  }
}

.order-swiper {
  position: relative;
}

.order-item-slider {
  position: relative;
}

.order-btn-prev {
  position: absolute !important;
  top: 48% !important;
  left: -5% !important;
  z-index: 100 !important;
}
.order-btn-prev::after, .order-btn-prev .swiper-container-rtl .swiper-button-prev::after {
  color: #FFCF7A;
  font-size: 25px;
  font-weight: 700;
}

.order-btn-next {
  position: absolute !important;
  top: 48% !important;
  left: 39% !important;
  z-index: 100 !important;
}
.order-btn-next::after, .order-btn-next .swiper-container-rtl .swiper-button-next::after {
  color: #FFCF7A;
  font-size: 25px;
  font-weight: 700;
}

.checkbox__wrap {
  flex-wrap: wrap;
}

.slider {
  width: 100%;
}
.slider__content {
  margin-bottom: 90px;
  width: 100%;
}
.slider__title {
  font-weight: 250;
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  background: linear-gradient(249.07deg, #FFFFFF 36.17%, rgba(255, 255, 255, 0) 97.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 45px;
}
.slider__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.slider__wrapper-item {
  width: 30%;
  margin: 0 1.5%;
  max-height: 346px;
  height: 267px;
  background: #121212;
  border-radius: 2px;
}
@media (max-width: 767px) {
  .slider__wrapper {
    flex-wrap: wrap;
  }
  .slider__wrapper-item {
    width: 45%;
    margin-bottom: 5%;
  }
}
@media (max-width: 576px) {
  .slider__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider__wrapper-item {
    width: 80%;
    margin-bottom: 5%;
  }
}
@media (max-width: 992px) {
  .slider .slider__title {
    font-size: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
